<template>
    <lightning-card>
        <lightning-input label="Search account Name" onchange={searchkeyHandler}></lightning-input>
        <template if:true={detailsRecived}>
            <template for:each={test1} for:item="test">
                <div key={test.Id}>{test.Name}</div>
                <div key={test.Id}>{test.Phone}</div>
                <div key={test.Id}>{test.CreatedById}</div>
                <div key={test.Id}>{test.LastModifiedById}</div>
            </template>
        </template>
    </lightning-card>
</template>