<template>
    <lightning-card>
        <template if:true={detailsRecived}>
        <template  for:each={test1.data} for:item = "test">
            <div key={test.Id} >{test.Name}
                
            </div> 
        </template>
    </template>
        <div if:true={test1.error}> {test1.error}</div>
    </lightning-card>    
</template>