<template>
    <article class="slds-card">
        <div class="slds-p-around_xx-small">
        <div class="slds-table_edit_container slds-is-relative">
            <table aria-multiselectable="true" id="tbldetail"
                class="table slds-table slds-table_bordered slds-table_edit slds-table_fixed-layout slds-table_resizable-cols"
                role="grid" style="width:88.75rem">
                <thead>
                    <tr  class="slds-line-height_reset">
                        <th class="" scope="col">
                          <div class="slds-truncate" title="Name">Name</div>
                        </th>
                        <th class="" scope="col">
                            <div class="slds-truncate" title="Gender">Gender</div>
                        </th>
                        <th class="" scope="col">
                            <div class="slds-truncate" title="Designation">Designation</div>
                        </th>
                        <th class="" scope="col">
                            <div class="slds-truncate" title="Full Time">Full Time</div>
                        </th>
                        <th class="" scope="col">
                            <div class="slds-truncate" title="Salary">Salary</div>
                        </th>
                        <th class="" scope="col">
                            <div class="slds-truncate" title="Email">Email</div>
                        </th>
                        <th class="" scope="col">
                            <div class="slds-truncate" title="Description">Description</div>
                        </th>
                        <th class="" scope="col">
                            <div class="slds-truncate" title="Action">Action</div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <template for:each = {detailList} for:item="list" for:index="index">
                    <tr key = {list.id}>
                        <td>
                            <div if:false={list.edit} data-id = {list.id}>
                                {list.Name}
                            </div>
                            <div class="slds-form-element" if:true={list.edit}>
                                <div class="slds-form-element__control">
                                  <input type="text" data-id = {list.id} placeholder="Name" value={list.Name} onchange={handleNameChange} name="Name" class="slds-input"/>
                                </div>
                            </div>
                        </td>
                         <td>
                            <div if:false={list.edit} data-id = {list.id}>
                                {list.Gender}
                            </div>
                            <lightning-radio-group name="gender" if:true={list.edit}
                                options={options}
                                value={value}
                                type="radio" onchange={handleGenderChange}>
                            </lightning-radio-group>
                            <!-- <fieldset class="slds-form-element">
                                <div class="slds-form-element__control">
                                <span class="slds-radio">
                                <input type="radio" data-id= {list.id}  name="Gender" checked="" />
                                <label class="slds-radio__label" for="Male">
                                <span class="slds-radio_faux"></span>
                                <span class="slds-form-element__label">Male</span>
                                </label>
                                </span>
                                <span class="slds-radio">
                                <input type="radio" data-id = {list.id} name="Gender" />
                                <label class="slds-radio__label" for="Female">
                                <span class="slds-radio_faux"></span>
                                <span class="slds-form-element__label">Female</span>
                                </label>
                                </span>
                                </div>
                                </fieldset> -->
                        </td>
                        <td>
                            <div if:false={list.edit} data-id = {list.id}>
                                {list.Desig}
                            </div>
                            <div class="slds-form-element" if:true={list.edit}>
                                <div class="slds-form-element__control">
                                  <input type="text" data-id = {list.id} placeholder="Designation" value={list.Desig} onchange={handleDesigChange} name="Desig" class="slds-input" />
                                </div>
                            </div>
                        </td>
                        <td>
                            <lightning-input type="checkbox" label="FullTime" name="fulltime" >
                            </lightning-input>
                            <!-- <div class="slds-form-element">
                                <div class="slds-form-element__control">
                                <div class="slds-checkbox">
                                <input type="checkbox" name="fullTime" data-id = {list.Id} checked="" />
                                <label class="slds-checkbox__label" for="FullTime">
                                <span class="slds-checkbox_faux"></span>
                                <span class="slds-form-element__label">FullTime</span>
                                </label>
                                </div>
                                </div>
                                </div> -->
                        </td>
                        <td>
                            <div if:false={list.edit} data-id = {list.id}>
                                {list.Salary}
                            </div>
                            <div class="slds-form-element" if:true={list.edit}>
                                <div class="slds-form-element__control">
                                  <input type="number" data-id = {list.id} placeholder="Salary" value={list.Salary} onchange={handleSalChange} name="Salary" class="slds-input" />
                                </div>
                            </div>
                        </td>
                        <td>
                            <div if:false={list.edit} data-id = {list.id}>
                                {list.Email}
                            </div>
                            <div class="slds-form-element" if:true={list.edit}>
                                <div class="slds-form-element__control">
                                  <input type="email" data-id = {list.id} placeholder="Email" value={list.Email} onchange={handleEmailChange}  name="Email" class="slds-input" />
                                </div>
                            </div>
                        </td>
                        <td>
                            <div if:false={list.edit} data-id = {list.id}>
                                {list.Desc}
                            </div>
                            <div class="slds-form-element" if:true={list.edit}>
                                <div class="slds-form-element__control">
                                <lightning-textarea data-id = {list.id} placeholder="Description" value={list.Desc} name="Desc" onchange={handleDesChange} class="slds-textarea"></lightning-textarea>
                                </div>
                                </div>
                        </td>
                        <td>
                            <button class="slds-button slds-button_brand" onclick = {removeRow} accesskey = {list.id} id = {index} name="Delete">Delete</button>
                            <button class="slds-button slds-button_brand" onclick = {saveRow} accesskey = {list.id} id = {index} name="Save" if:true={list.edit}>Save</button>
                            <button class="slds-button slds-button_brand" onclick = {editRow} accesskey = {list.id} id = {index} name="Edit" if:false={list.edit}>Edit</button>
                        </td>
                    </tr>
                </template>
                </tbody>
            </table>
            <div class="slds-p-around_xx-small">
                <button class="slds-button slds-button_brand" onclick = {addRow}>Add Row</button>
            </div>
        </div>
    </div>
    </article>
</template>