<template>
    <article class="slds-card">
        <div>
            <div class="slds-grid slds-gutters">
                <div class="slds-col ">
                    <div class="slds-form-element slds-p-around_small">
                        <input type="text" id="text-input-id-2" placeholder="First Name" required=""
                            class="slds-input"  onchange={firstNameHandler}/>
                    </div>
                    <div class="slds-p-around_small ">
                        <legend class="slds-form-element__legend slds-form-element__label">Gender</legend>
                        <div class="slds-form-element__control">
                            <span class="slds-radio">
                                <input type="radio" id="radio-79" value="Male" name="default" onchange={genderHandler} />
                                <label class="slds-radio__label" for="radio-79">
                                    <span class="slds-radio_faux"></span>
                                    <span class="slds-form-element__label">Male</span>
                                </label>
                            </span>
                            <span class="slds-radio">
                                <input type="radio" id="radio-80" value="Female" name="default" onchange={genderHandler}/>
                                <label class="slds-radio__label" for="radio-80">
                                    <span class="slds-radio_faux"></span>
                                    <span class="slds-form-element__label">Female</span>
                                </label>
                            </span>
                        </div>
                    </div>

                </div>
                <div class="slds-col slds-p-around_small">

                    <div class="slds-form-element ">

                        <input type="text" id="text-input-id-46" placeholder="Last Name" required=""
                            class="slds-input" onchange={lastNameHandler}/>

                    </div>
                </div>
            </div>
            <div class="slds-grid slds-gutters">
                <div class="slds-col" style = "width:50%">
                    <div class="slds-form-element slds-p-around_small" style="width: 240px;">
                        <!--designation-->
                        <input type="text" id="text-input-id-31" placeholder="Designation" required=""
                            class="slds-input" onchange={designationHandler}/>
                    </div>
                </div>
                <div class="slds-col slds-p-vertical_x-small">
                    <div class="slds-form-element ">
                        <div class="slds-form-element__control ">
                            <div class="slds-checkbox">
                                <input type="checkbox" name="options" id="checkbox-unique-id-113" value="checkbox-unique-id-113" onchange={fullTimeHandler} />
                                <label class="slds-checkbox__label" for="checkbox-unique-id-113">
                                    <span class="slds-checkbox_faux"></span>
                                    <span class="slds-form-element__label">Full Time</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="slds-grid ">
                    <div class="slds-col slds-p-horizontal_medium slds-p-around_small">
                        <div class="slds-form-element">
                            <div class="slds-form-element__control">
                                <input type="number" id="text-input-id-47" placeholder="Salary" class="slds-input" onchange={salaryHandler}/>
                            </div>
                        </div>
                    </div>
                    <div class="slds-col slds-p-horizontal_medium slds-p-around_small">
                        <div class="slds-form-element">
                            <div class="slds-form-element__control">
                                <input type="email" id="text-input-id-48" placeholder="Email" class="slds-input" onchange={emailHandler}/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <div class="slds-form-element slds-p-around_small ">

                    <div class="slds-form-element__control">
                        <textarea id="textarea-id-01" placeholder="Description" class="slds-textarea" onchange={descriptionHandler}></textarea>
                    </div>
                </div>

            </div>
            <div>
                <div class="slds-p-around_small">
                    <div class="slds-p-horizontal_medium">
                        <button class="slds-button slds-button_brand" onclick={submitHandler}>Brand Button</button>
                    </div>
                </div>
            </div>
        </div>


<template if:true={submitted}>
        <div>  
                <div id="display_data">
                    Full-Name: {firstName}{lastName}
                </div>
                <div>
                    Gender: {gender}
                </div>
                <div>
                    Designation: {designation}
                </div>
                <div>
                    Job type: {fullTime}
                </div>
                <div>
                    Salary : {salary}
                </div>
                <div>
                    Email : {email}
                </div>
                <div>
                    Description : {description}
                </div>
            </div>
        </template>
    </article>
</template>