<template>
    <lightning-card>
        <div>
<!-- first -->
        <div class="slds-grid">
            <div class="slds-col slds-p-horizontal_medium">
              <span>
                  <lightning-input label="Account Name" name = "Name" onchange={inputHandler}></lightning-input> 
            </span>
            </div>
            <div class="slds-col slds-p-horizontal_medium">
              <span>
                <lightning-input type="tel" label="Phone" name = "Phone" onchange={inputHandler}></lightning-input>
              </span>
            </div>
          </div>

            <!-- second -->
          <div class="slds-grid">
            <div class="slds-col slds-p-horizontal_medium">
              <span>
                  <!-- fetch parent account -->
                <lightning-input label="Parent Account Name" name = "ParentId" onchange={inputHandler}></lightning-input> 
              </span>
            </div>
            <div class="slds-col slds-p-horizontal_medium">
              <span>
                <lightning-input type="tel" label="Fax" name = "Fax" onchange={inputHandler}></lightning-input>
              </span>
            </div>
          </div>
<!-- third -->
          <div class="slds-grid">
            <div class="slds-col slds-p-horizontal_medium">
              <span>
                  <lightning-input type="text" label="Account Number" name = "AccountNumber" onchange={inputHandler}></lightning-input>
                </span>
            </div>
            <div class="slds-col slds-p-horizontal_medium">
              <span>
                <lightning-input type="url" label="Website" name="Website" onchange={inputHandler} ></lightning-input>
              </span>
            </div>
          </div>
<!-- fourth  -->
          <div class="slds-grid">
            <div class="slds-col slds-p-horizontal_medium">
              <span>
                <lightning-input type = "text" label="Account site" name = "Site" onchange={inputHandler}></lightning-input>
              </span>
            </div>
            <div class="slds-col slds-p-horizontal_medium">
              <span>
                <lightning-input type = "text" label="Ticker Symbol" name = "TickerSymbol" onchange={inputHandler}></lightning-input>
              </span>
            </div>
          </div>
<!-- fifth -->
<!-- dropdown   type-->

          <div class="slds-grid">
            <div class="slds-col slds-p-horizontal_medium">
              <span>

                <lightning-combobox
               name="Type"
               label="Type"
               value="value"
               placeholder="Select Type"
               options={optionsType}
               onchange={inputHandler} >
                 </lightning-combobox>

              </span>
            </div>
            <div class="slds-col slds-p-horizontal_medium">
              <span>

                <lightning-combobox
                name="Ownership"
                label="Ownership"
                value="value"
                placeholder="select Ownership"
                options={optionsOwnership}
                onchange={inputHandler} >
                  </lightning-combobox>
              </span>
            </div>
          </div>
          
<!-- sixth -->
<!-- dropdown   industry-->
          <div class="slds-grid">
            <div class="slds-col slds-p-horizontal_medium">
              <span> 

                <lightning-combobox
                name="Industry"
                label="Industry"
                value="value"
                placeholder="select Industry"
                options={optionsIndustry}
                onchange={inputHandler} >
                </lightning-combobox>

               
              </span>   
            </div>
            <div class="slds-col slds-p-horizontal_medium">
              <span>
                <lightning-input type="number" label="Employees" name="NumberOfEmployees" onchange={empHandler}> </lightning-input>
              </span>
            </div>
          </div>
<!-- seventh -->
          <div class="slds-grid">
            <div class="slds-col slds-p-horizontal_medium">
              <span>
                <lightning-input type="number" label="Annual Revenue" name="AnnualRevenue" formatter="currency" step="0.01" onchange={inputHandler}> </lightning-input>
              </span>
            </div>
            <div class="slds-col slds-p-horizontal_medium">
              <span>
                <lightning-input type="number" label="SIC Code" name="Sic" onchange={inputHandler} > </lightning-input>
              </span>
            </div>
          </div>
<!-- eighth-->
          <div class="slds-grid">
            <div class="slds-col slds-p-horizontal_medium">
                <h2>Billing Address</h2>
                <span>
                    <lightning-textarea name="Billing Street" label="BillingStreet" onchange={inputHandler}></lightning-textarea>
                </span>
            </div>
            <div class="slds-col slds-p-horizontal_medium">
                <h2>Shipping Address</h2>
                <span>
                    <lightning-textarea name="Shipping Street" label="Shipping Street" onchange={inputHandler}></lightning-textarea>
                </span>
            </div>
          </div>

<!--nineth-->
            <div class="slds-grid">
                <div class="slds-col slds-p-horizontal_medium">
                    <span>
                        <div class="slds-grid slds-gutters">
                            <div class="slds-col slds-size_2-of-3">
                              <span>
                                <lightning-input type = "text" label="Billing City" name = "BillingCity" onchange={inputHandler}></lightning-input> 
                              </span>
                            </div>
                            <div class="slds-col slds-size_1-of-3">
                              <span>
                                <lightning-input type = "text" label="Billing State/Province" name = "BillingState" onchange={inputHandler}></lightning-input> 
                              </span>
                            </div>
                          </div>
                    </span>
                </div>
                <div class="slds-col slds-p-horizontal_medium">
                    <span>
                        <div class="slds-grid slds-gutters">
                            <div class="slds-col slds-size_2-of-3">
                              <span>
                                <lightning-input type = "text" label="Shipping City" name = "ShippingCity" onchange={inputHandler}></lightning-input> 
                              </span>
                            </div>
                            <div class="slds-col slds-size_1-of-3">
                              <span>
                                <lightning-input type = "text" label="Shipping State/Province" name = "ShippingState" onchange={inputHandler}></lightning-input> 
                              </span>
                            </div>
                          </div>
                    </span>
                </div>
            </div>
<!--tenth-->            
            <div class="slds-grid">
                <div class="slds-col slds-p-horizontal_medium">
                    <span>
                        <div class="slds-grid slds-gutters">
                            <div class="slds-col slds-size_2-of-3">
                              <span>
                                <lightning-input type="number" label="Billing Zip/Postal Code" name="BillingPostalCode"  onchange={inputHandler}></lightning-input>
                              </span>
                            </div>
                            <div class="slds-col slds-size_1-of-3">
                              <span>
                                <lightning-input type="text" label="Billing Country" name="BillingCountry" onchange={inputHandler} ></lightning-input>
                              </span>
                            </div>
                          </div>
                    </span>
                </div>
                <div class="slds-col slds-p-horizontal_medium">
                    <span>
                        <div class="slds-grid slds-gutters">
                            <div class="slds-col slds-size_2-of-3">
                              <span>
                                <lightning-input type="number" label="Shipping Zip/Postal Code" name="ShippingPostalCode" onchange={inputHandler} ></lightning-input>
                              </span>
                            </div>
                            <div class="slds-col slds-size_1-of-3">
                              <span>
                                <lightning-input type="text" label="Shipping Country" name="ShippingCountry" onchange={inputHandler} ></lightning-input>
                              </span>
                            </div>
                          </div>
                    </span>
                </div>
            </div>
        </div>
        <div>
           <lightning-button label="Add Account" variant="brand"  onclick={createAccountHandler} ></lightning-button>
        </div>
        <div>id:{accountId}</div>
    </lightning-card>
</template>