<!-- <template>
    <lightning-card>
        <h3 slot="title">
            <lightning-icon icon-name="standard:timesheet" alternative-text="Event" size="small"></lightning-icon>
            &nbsp;Bulk Contact Creation
        </h3>
        <template for:each={itemList} for:item="item" for:index="index">
            <lightning-record-edit-form key={item.id} object-api-name="Contact">
                <lightning-messages> </lightning-messages>
                <lightning-layout multiple-rows>
                    <lightning-layout-item size="12" small-device-size="6" medium-device-size="4" large-device-size="2"
                        padding="around-small">
                        <lightning-input-field field-name="FirstName" variant="label-stacked" required>
                        </lightning-input-field>
                    </lightning-layout-item>
                    <lightning-layout-item size="12" small-device-size="6" medium-device-size="4" large-device-size="2"
                        padding="around-small">
                        <lightning-input-field field-name="LastName" variant="label-stacked" required>
                        </lightning-input-field>
                    </lightning-layout-item>
                    <lightning-layout-item size="12" small-device-size="6" medium-device-size="4" large-device-size="2"
                        padding="around-small">
                        <lightning-input-field field-name="Title" variant="label-stacked" required>
                        </lightning-input-field>
                    </lightning-layout-item>
                    <lightning-layout-item size="12" small-device-size="6" medium-device-size="4" large-device-size="2"
                        padding="around-small">
                        <lightning-input-field field-name="Email" variant="label-stacked" required>
                        </lightning-input-field>
                    </lightning-layout-item>
                    <lightning-layout-item size="12" small-device-size="6" medium-device-size="4" large-device-size="2"
                        padding="around-small">
                        <lightning-input-field field-name="AccountId" variant="label-stacked" required>
                        </lightning-input-field>
                    </lightning-layout-item>
                    <lightning-layout-item size="12" small-device-size="6" medium-device-size="4" large-device-size="2"
                        padding="around-small">
                        <div class="slds-p-top_medium">
                            <lightning-icon icon-name="action:new" access-key={item.id} id={index}
                                alternative-text="Add Row" size="small" title="Add Row" onclick={addRow}>
                            </lightning-icon>
                            <lightning-icon icon-name="action:delete" access-key={item.id} id={index}
                                alternative-text="Delete Row" size="small" title="Delete Row" onclick={removeRow}>
                            </lightning-icon>
                        </div>
                    </lightning-layout-item>
                </lightning-layout>

            </lightning-record-edit-form>
        </template>
        </br>
        <lightning-layout>
            <div class="slds-align_absolute-center">
                <lightning-button variant="success" onclick={handleSubmit} name="submit" label="Submit">
                </lightning-button>
            </div>
        </lightning-layout>
    </lightning-card>
</template> -->
<template>

    <lightning-card title="Account Records" icon-name="standard:account">
      <div class="c-container">
        <div class="layout">
  
          <template for:each={data} for:item="dataVal" for:index="index">
  
            <div key={dataVal.accountName}>
              <lightning-layout vertical-align="stretch" multiple-rows="true" class="x-large">
  
                <lightning-layout-item flexibility="auto" padding="around-small" class="custom-box">
                  <lightning-input type="String" label="Account Name" name="accountName" value={dataVal.accountName}
                    onchange={handleChange} required></lightning-input>
                </lightning-layout-item>
  
                <lightning-layout-item flexibility="auto" padding="around-small" class="custom-box">
                  <lightning-input type="url" label="Website" name="accountWebsite" value={dataVal.accountWebsite}
                    onchange={handleChange}>
                  </lightning-input>
                </lightning-layout-item>
  
                <lightning-layout-item flexibility="auto" padding="around-small" class="custom-box">
                  <lightning-input type="number" name="accountRevenue" label="Annual Revenue" formatter="currency"
                    value={dataVal.accountRevenue} onchange={handleChange}></lightning-input>
                </lightning-layout-item>
  
                <lightning-layout-item>
  
                  <div class="slds-p-top_medium">
  
                    <lightning-icon icon-name="action:new" access-key={dataVal.id} id={index} alternative-text="Add Row"
                      size="small" title="Add Row" onclick={handleAdd}>
                    </lightning-icon>
  
                    <lightning-icon icon-name="action:delete" access-key={dataVal.id} id={index}
                      alternative-text="Delete Row" size="small" title="Delete Row" onclick={handleRemove}>
                    </lightning-icon>
  
                  </div>
                </lightning-layout-item>
              </lightning-layout>
            </div>
          </template>
        </div>
      </div>
  
      <!-- FOOTER STARTS HERE -->
      <p slot="footer">
        <lightning-button variant="brand" label="Create All" disabled={isInsertDisabled} title="Primary action"
          onclick={handleSubmit} class="">
        </lightning-button>
      </p>
      <!-- FOOTER ENDS HERE -->
  
    </lightning-card>
  </template>