<template>
    <article class="slds-card">
        <div class="slds-p-around_xx-small">
        <div class="slds-table_edit_container slds-is-relative">
            <table aria-multiselectable="true" id="tbldetail"
                class="table slds-table slds-table_bordered slds-table_edit slds-table_fixed-layout slds-table_resizable-cols"
                role="grid" style="width:88.75rem">
                <thead>
                    <tr class="slds-line-height_reset">
                        <th class="" scope="col">
                          <div class="slds-truncate" title="Name">Name</div>
                        </th>
                        <th class="" scope="col">
                            <div class="slds-truncate" title="Gender">Gender</div>
                        </th>
                        <th class="" scope="col">
                            <div class="slds-truncate" title="Designation">Designation</div>
                        </th>
                        <th class="" scope="col">
                            <div class="slds-truncate" title="Full Time">Full Time</div>
                        </th>
                        <th class="" scope="col">
                            <div class="slds-truncate" title="Salary">Salary</div>
                        </th>
                        <th class="" scope="col">
                            <div class="slds-truncate" title="Email">Email</div>
                        </th>
                        <th class="" scope="col">
                            <div class="slds-truncate" title="Description">Description</div>
                        </th>
                        <th class="" scope="col">
                            <div class="slds-truncate" title="Action">Action</div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <template for:each = {detailList} for:item="list">
                    <tr key = {list.Id}>
                        <td>
                            <div class="slds-form-element">
                                <div class="slds-form-element__control">
                                  <input type="text" data-id= {list.Id} value= {list.Name} placeholder="Name" name="Name" class="slds-input" />
                                </div>
                            </div>
                        </td>
                         <td>
                            <fieldset class="slds-form-element">
                                <div class="slds-form-element__control">
                                <span class="slds-radio">
                                <input type="radio" data-id= {list.Id} value= {list.Male} name="Gender" checked="" />
                                <label class="slds-radio__label" for="Male">
                                <span class="slds-radio_faux"></span>
                                <span class="slds-form-element__label">Male</span>
                                </label>
                                </span>
                                <span class="slds-radio">
                                <input type="radio" data-id = {list.Id} value = {list.Female} name="Gender" />
                                <label class="slds-radio__label" for="Female">
                                <span class="slds-radio_faux"></span>
                                <span class="slds-form-element__label">Female</span>
                                </label>
                                </span>
                                </div>
                                </fieldset>
                        </td>
                        <td>
                            <div class="slds-form-element">
                                <div class="slds-form-element__control">
                                  <input type="text" data-id = {list.Id} placeholder="Designation" value = {list.Desig} name="Desig" class="slds-input" />
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="slds-form-element">
                                <div class="slds-form-element__control">
                                <div class="slds-checkbox">
                                <input type="checkbox" name="fullTime" data-id = {list.Id} value= {list.fullTime} checked="" />
                                <label class="slds-checkbox__label" for="FullTime">
                                <span class="slds-checkbox_faux"></span>
                                <span class="slds-form-element__label">FullTime</span>
                                </label>
                                </div>
                                </div>
                                </div>
                        </td>
                        <td>
                            <div class="slds-form-element">
                                <div class="slds-form-element__control">
                                  <input type="number" data-id = {list.Id} placeholder="Salary" value= {list.Salary} name="Salary" class="slds-input" />
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="slds-form-element">
                                <div class="slds-form-element__control">
                                  <input type="email" data-id = {list.Id} placeholder="Email" value= {list.Email} name="Email" class="slds-input" />
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="slds-form-element">
                                <div class="slds-form-element__control">
                                <textarea data-id = {list.Id} placeholder="Description" name="Desc" class="slds-textarea"></textarea>
                                </div>
                                </div>
                        </td>
                        <td>
                            <button name = {list.index} onclick = {removeRow}>Delete</button>
                            <button class="slds-button slds-button_brand">Save</button>
                        </td>
                    </tr>
                </template>
                </tbody>
            </table>
            <div class="slds-p-around_xx-small">
            <button class="slds-button slds-button_brand" onclick = {addRow}>Add Row</button>
        </div>
        </div>
    </div>
    </article>
</template>