<template>
    <article class="slds-card slds-card__header ">
        <div class="slds-p-around_xx-small">
            <div class="slds-grid">
                <table aria-multiselectable="true" id="table" class="table slds-table" role="grid"
                    style="width:88.75rem">
                    <thead>
                        <tr class="slds-line-height_reset">
                            <th class="" scope="col">
                                <div class="slds-truncate" title="Name">Name</div>
                            </th>
                            <th class="" scope="col">
                                <div class="slds-truncate" title="Gender">Gender</div>
                            </th>
                            <th class="" scope="col">
                                <div class="slds-truncate" title="Designation">Designation</div>
                            </th>
                            <th class="" scope="col">
                                <div class="slds-truncate" title="Full Time">Full Time</div>
                            </th>
                            <th class="" scope="col">
                                <div class="slds-truncate" title="Salary">Salary</div>
                            </th>
                            <th class="" scope="col">
                                <div class="slds-truncate" title="Email">Email</div>
                            </th>
                            <th class="" scope="col">
                                <div class="slds-truncate" title="Description">Description</div>
                            </th>
                            <th class="" scope="col">
                                <div class="slds-truncate" title="Action">Action</div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <template for:each={table} for:item="row" for:index="index">
                            <tr key={row.id}>
                                <td>
                                    <!-- <div if:true={row.edit}> -->
                                    <div if:true={row.edit} class="slds-form-element">
                                        <div class="slds-form-element__control">
                                            <div>
                                                <input type="text" data-id={row.id} placeholder="Name" name="Name" value={row.name}
                                                onchange={nameHandler} class="slds-input" />
                                            </div>
                                        </div>
                                    </div>

                                    <!-- <div if:false={row.save} class="slds-form-element">
                                        <div class="slds-form-element__control">
                                            <div>
                                                <input type="text" data-id={row.id} placeholder="Name" name="Name"
                                                value={row.name} onchange={nameHandler} class="slds-input" />
                                            </div>
                                        </div>
                                    </div> -->
 
                                <!--<div if:true={row.edit} if:false={row.save} class="slds-form-element">
                                        <div class="slds-form-element__control">
                                            <div>
                                                <input type="text" data-id={row.id} placeholder="Name" name="Name"
                                                   value={row.name} onchange={nameHandler} class="slds-input" />
                                            </div>
                                        </div>
                                    </div> -->
                                
                                    <div if:false={row.edit} data-id={row.id}>
                                        {row.name}
                                    </div>

                                </td>
                                <td>
                                    <div if:true={row.edit}>
                                        <lightning-radio-group data-id={row.id} name="gender" options={options}
                                            value={row.gender} type="radio" onchange={genderHandler}>
                                        </lightning-radio-group>
                                    </div>
                                    <div if:false={row.edit}>
                                        {row.gender}
                                    </div>
                                </td>
                                <td>
                                    <div if:true={row.edit} class="slds-form-element">
                                        <div class="slds-form-element__control">
                                            <input type="text" data-id={row.id} placeholder="Designation" value={row.designation}
                                                name="Designation" class="slds-input" onchange={designationHandler} />
                                        </div>
                                    </div>
                                    <div if:false={row.edit}>
                                        {row.designation}
                                    </div>
                                </td>
                                <td>
                                    <div if:true={row.edit}>
                                        <lightning-input type="checkbox" data-id={row.id} 
                                            name="inputFulltime" onchange={fullTimeHandler} checked={row.fulltime}>
                                        </lightning-input>
                                    </div>
                                    <div if:false={row.edit}>
                                        <lightning-input type="checkbox" data-id={row.id} 
                                            name="inputFulltime" onchange={fullTimeHandler} checked={row.fulltime} read-only="true">
                                        </lightning-input>
  
                                    </div>
                                </td>
                                <td>
                                    <div if:true={row.edit} class="slds-form-element">
                                        <div class="slds-form-element__control">
                                            <input type="number" data-id={row.id} placeholder="Salary" name="Salary" value={row.salary}
                                                onchange={salaryHandler} class="slds-input" />
                                        </div>
                                    </div>
                                    <div if:false={row.edit}>
                                        {row.salary}
                                    </div>
                                </td>
                                <td>
                                    <div if:true={row.edit} class="slds-form-element">
                                        <div class="slds-form-element__control">
                                            <input type="email" data-id={row.id} placeholder="Email" name="Email" value={row.email}
                                                onchange={emailHandler} class="slds-input" />
                                        </div>
                                    </div>
                                    <div if:false={row.edit}>
                                        {row.email}
                                    </div>
                                </td>
                                <td>
                                    <div if:true={row.edit} class="slds-form-element">
                                        <lightning-textarea data-id={row.id} placeholder="Description" name="Description" 
                                        onchange={descriptionHandler} value={row.description}></lightning-textarea>
                                        <!-- <div class="slds-form-element__control">
                                            <textarea data-id={row.id} placeholder="Description" name="Description" value={row.description}
                                                onchange={descriptionHandler} class="slds-textarea"></textarea>
                                        </div> -->
                                    </div>
                                    <div if:false={row.edit}>
                                        {row.description}
                                    </div>
                                </td>
                                <td>
                                    <div if:true={row.edit}>
                                        <button class="slds-button slds-button_brand" onclick={saveHandler}
                                            accesskey={row.id} id={index}>Save</button>
                                        <button class="slds-button slds-button_brand" onclick={deleteHandler}
                                            accesskey={row.id} id={index}>Delete</button>
                                    </div>
                                    <div if:false={row.edit}>
                                        <button class="slds-button slds-button_brand" onclick={editHandler}
                                            accesskey={row.id} id={index}>Edit</button>
                                        <button class="slds-button slds-button_brand" onclick={deleteHandler}
                                            accesskey={row.id} id={index}>Delete</button>
                                    </div>    
                                </td>
                            </tr>

                        </template>
                    </tbody>
                </table>
            </div>
            <div class="slds-p-around_xx-small">
                <button class="slds-button slds-button_brand slds-float_right" onclick={addRow}>Add Row</button>
            </div>

        </div>
    </article>
</template>