<template>
<lightning-card>
    <template for:each={listContact} for:item="contact">
        <div key={contact.Name}>
            <c-child-component obj-contact={contact}></c-child-component>
        <!-- <template if:true={contact.isActive}>
            <div class="slds-text-color_success">{contact.name}</div>
        </template>
        {contact.name}
        <template if:false={contact.isActive}>
            <div class="slds-text-color_error">{contact.name}</div>
        </template>  -->
    </div> 

    </template>
    <div>{inputValue}</div>  
</lightning-card>
</template>